
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.top {
    color: #f1f1f1;
}
.top-head{
    color: dimgrey;
    text-align: center;
}

.left-side-input{
  text-align: center;
  background-color: #fff;
  color: #1abc9c;
}
.left-side-value{
  background-color: #1abc9c;
  color: #fff;
  padding-left: 20px;
  margin-top: 50px;

}
.right-side{
  background-color: #e3e3e3;
}
.right-image{
 width: 100%;
 height: auto;
}

/* GRID */

.twelve { width: 100%; }
.eleven { width: 91.53%; }
.ten { width: 83.06%; }
.nine { width: 74.6%; }
.eight { width: 66.13%; }
.seven { width: 57.66%; }
.six { width: 49.2%; }
.five { width: 40.73%; }
.four { width: 32.26%; }
.three { width: 23.8%; }
.two { width: 15.33%; }
.one { width: 6.866%; }


/*COLUMNS*/

.col {
    display: block;
    float: left;
    margin: 0 0 0 1.6%;
}

.col:first-of-type {
    margin-left: 0;
}

.container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.row{
    padding: 20px 0;
}



input{
    display: block;
    padding: 10px;
    margin: 5px auto;
    background-color: #f1f1f1;
    border: none;
    width: 20%;
    outline: none;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
}

button{
    background-color: #f1f1f1;
    display: inline-block;
    padding: 8px 30px;
    width: 20%;
    color: #1abc9c;
    cursor: pointer;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
}
