
<body>
<div class="container">

<!-- Left Side -->
<div class="col six">
  <h1 class="top-head">Software Internship Challenge</h1>
  <h2></h2>
  <br />
  <div  class="left-side-input">
    <h2>Enter Value of <em>n</em> (where <em>n>1</em>)</h2>
    <input [(ngModel)] = "number" type="text" class="">
    <br />
    <button (click) = "calculateModel()">Calculate</button>
    <br />
  </div>
  <div class="left-side-value">
    <h4>Number of cubeletes is:  {{no_of_cubelets}}</h4>
    <h4>Number of Internal Cubeletes:  {{internal_cubelets}}</h4>
    <h4>Number of External cubelets:   {{external_cubelets}}</h4>
    <h4>Derived Rubix: {{derived_rubix}}</h4>
  </div>

</div>

	<!-- Right Side -->
	<div class="col six right-side">
    <img class="right-image" src="../assets/images/cube.png">
	</div>
</div>
</body>
